###########################################################################
#          Title: Kamino Configuration File
#         Author: Mike Del Pozzo
#    Description: Configuration options for Kamino.
#        Version: 1.0.1
#           Date: 03 April 2019
#        Website: https://github.com/delpozzo/kamino
#        License: GPLv3 (see LICENSE)
#
#    Kamino Copyright (C) 2019 Mike Del Pozzo
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    any later version.
###########################################################################

# Block size which is utilized for dd operations
# Default: 64K
block_size 64K

# Directory where image files are stored
images_directory /home/mike/images

# Directory where temporary pids are stored 
# Default: /tmp
tmp_directory /tmp

# gzip compression level [1-9]
# Default: 6
# 1 = fastest, lowest compression (produces largest image files)
# 9 = slowest, highest compression (produces smallest image files)
compression_level 6

